
html
head
	style 
		include ../styles/styles.css
	title View Cart
	include ../public/partials/loggedinHeader
div#main
	div(class='cart-h1')
		h1 Cart
		br
		if items.length== 0
			p No products in cart
		else 
			div(class='p')
				p Subtotal: $#{subtotal}
				p Tax: 	$#{tax}
				p Total: $#{total}
				form(method='POST' action='/submit')
					p #{alert}
					button(type='submit', name='submit', value='submit') PLACE ORDER
	if items.length > 0
		div(class='cart-wrapper')
			each item in items
				div(class='cart-card')
					div(class='cart-info')
						img(class='cart-img' src=item.imgPath alt='img')
						br
						a(href='/products/'+item.id) #{item.title} 
						br
						p  $ #{item.price}
						br
						p QTY: #{item.quantity}
						br
						form(method='POST' action='/products/'+item.id+'/remove')
							button(type='submit', name='submit', value='submit') REMOVE
							br
