
html
	head
		title Dashboard
body
	include ../public/partials/header

	div#main
		h1 Hello, #{name}
		br
		form(method='POST' action='/user/logout')
			input(type='submit' name='submit' value='Logout')
			br
		each product in products
			img(src=product.imgPath alt='img' style='width:100px; height:100px;')
			p #{product.title}
			p price: $#{product.price}
			p stock: #{product.stock}
