
html
	head
		title Dashboard
body
	div#main
		h1 Hello, #{name}
		br
		a(href='/order/cart') View Cart
		|
		|
		a(href='/order/viewOrders') View Orders
		form(method='POST' action='/user/logout')
			input(type='submit' name='submit' value='Logout')
			br
		form(method='POST' action='/order/submit')
			input(type='submit' name='submit' value='Place order')
			br
		
		each product in products
			form(method='POST' action='/products/'+product.title+'/add')
				img(src=product.imgPath alt='img' style='width:100px; height:100px;')
				p #{product.title}
				p price: $#{product.price}
				p stock: #{product.stock}
				p genres: #{product.genre}
				input(type='hidden', name='title', value=product.title)
				input(type='submit', name='submit', value='add to cart')
			br