
html
head
	style 
		include ../styles/styles.css
	title View Orders
	include ../public/partials/loggedinHeader
div#main
	div(class='order-main')
		h1 #{username}'s Orders
	br
	if result.orders.length== 0
		div(class='order-main')
			p No orders placed
	else
		div(class='order-wrapper')
			- for(var i =0;i<result.orders.length;i++){
				div(class='order-card')
					div(class='order-info')
						p Order ID(#):  #{result.orders[i].id+1}
						br
						p Subtotal: $ #{result.orders[i].subtotal}
						br
						p tax: $ #{result.orders[i].tax}
						br
						p total: $ #{result.orders[i].total}
						br
					- for(var j =0;j<result.orders[i].products.length;j++){
						div(class='order-info')
							br
							img(src=result.orders[i].products[j]._id.imgPath alt='img')
							br
							a(href='/products/'+result.orders[i].products[j]._id._id) #{result.orders[i].products[j]._id.title}
							br
							p Quantity: #{result.orders[i].products[j].quantity}
							br
							p Price: $#{result.orders[i].products[j]._id.price}
					- }
				- }