
html
head
	style 
		include ../styles/dashboard.css
	title View Orders
	include ../public/partials/loggedinHeader
div#main
	h1 Orders
	br
	if result.orders.length== 0
			p No orders placed.
	else
		- for(var i =0;i<result.orders.length;i++){
			p Order ID(#): #{result.orders[i].id+1}
			- for(var j =0;j<result.orders[i].products.length;j++){
				a(href='/products/'+result.orders[i].products[j]._id._id) #{result.orders[i].products[j]._id.title}
				br
				img(src=result.orders[i].products[j]._id.imgPath alt='img' style='width:100px; height:100px;')
				p Price: $#{result.orders[i].products[j]._id.price}
				p Quantity: #{result.orders[i].products[j].quantity}
			- }
			br
			br
		- }