
html
head
	title Product
body
	include ../public/partials/loggedinHeader
div#main
	br
	p #{product.title}
	form(method='POST' action='/products/'+product._id+'/add')
				img(src=product.imgPath alt='img' style='width:100px; height:100px;')
				p price: $#{product.price}
				p genres: #{product.genre}
				p stock: #{product.stock}
				p Description: coming soon
				input(type='submit', name='submit', value='add to cart')
				p Book reviews:
				if product.reviews.length == 0
					p No reviews yet.
				else 
					each review in product.reviews
						p Review by: #{review.owner.username} 
						p #{review.description}
						br
	form(method='POST' action='/products/'+product._id+'/review')
		label(for ='Create') Add a review for this item
		br
		p #{alert}
		input(type = 'text', name = 'review', required=true)
		br
		input(type = 'submit', name='submit',value='Add')
		br 
	br