
html
head
	style 
		include ../styles/product.css
		include ../styles/header.css
	title Product
body
	include ../public/partials/loggedinHeader
div#main
	br
	div(class='wrapper')
		div(class='product-card')
			p #{product.title}
			div(class='product-img')
				img(src=product.imgPath alt='img')
			br
			p price: $#{product.price}
			br
			p genres: #{product.genre}
			br
			p stock: #{product.stock}
			br
			p Description: coming soon
			form(method='POST' action='/products/'+product._id+'/add')
				button(type='submit', name='submit', value='submit') ADD TO CART
			div(class='add-review')
				form(method='POST' action='/products/'+product._id+'/review')
					br
					p Add a review for this item
					br
					p #{alert}
					textarea(type = 'text', name = 'review', required=true)
					br
					br
					button(type='submit', name='submit', value='submit') ADD REVIEW
					br 
		div(class='review-card')
			p Book reviews:
				if product.reviews.length == 0
					br 
					br
					br
					p No reviews yet.
				else 
					div(class='review-wrapper')
						each review in product.reviews
							div(class='review-area')
								div(class='review-user')
									p Review by: #{review.owner.username} 
								div(class='review-desc')
									p #{review.description}
									br