
html
head
	style 
		include ../styles/styles.css
	title Product
body
	include ../public/partials/loggedinHeader
div#main
	br
	div(class='product-wrapper')
		div(class='product')
			p #{product.title}
			div(class='product-img')
				img(src=product.imgPath alt='img')
			br
			p by: #{product.author}
			br
			p price: $#{product.price}
			br
			p genres: #{product.genre}
			br
			p stock: #{product.stock}
			br
			div(class='product-desc')
				h1 Description: 
				p #{product.description}
			form(method='POST' action='/products/'+product._id+'/add')
				button(type='submit', name='submit', value='submit') ADD TO CART
			div(class='add-review')
				form(method='POST' action='/products/'+product._id+'/review')
					br
					p Add a review for this item
					br
					p #{alert}
					textarea(type = 'text', name = 'review', required=true)
					br
					br
					button(type='submit', name='submit', value='submit') ADD REVIEW
					br 
		div(class='review-card')
			div(class='review-h1')
				h1 product reviews:
			if product.reviews.length == 0
				br 
				br
				br
				div(class='review-none')
					p No reviews yet.
			else 
				div(class='review-wrapper')
					each review in product.reviews
						div(class='review-area')
							div(class='review-user')
								p Review by: #{review.owner.username} 
							div(class='review-desc')
								p #{review.description}
								br